*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title1 {
    color: red;
    
    
}

.flex-container{
    display: flex;
    background-color: aqua;
    flex-direction: row;
    gap: 5%;
}



.title-list {
    background-color: blueviolet;

}